<ul class="nav justify-content-center mt-4 mb-1">
  <li class="nav-underline-anim">
    <a class="nav-link text-reset" aria-current="page" href="/voistlus/info">
      Võistluse info
    </a>
  </li>
  <li class="nav-underline-anim">
    <a class="nav-link text-reset" href="/voistlus/paigutus">Paigutus</a>
  </li>
  <li class="nav-underline-anim">
    <a class="nav-link text-reset" href="/voistlus/tabel">Võistlustabel</a>
  </li>
  <li class="nav-underline-anim">
    <a class="nav-link text-reset" href="/voistlus/mangud">Mängud</a>
  </li>
  <li class="nav-underline-anim">
    <a class="nav-link text-reset" href="/voistlus/tulemused">Tulemused</a>
  </li>
  <li class="nav-underline-anim">
    <a class="nav-link text-reset" href="/voistlus/auhinnad">Auhinnad</a>
  </li>
</ul>
<div
  class="justify-content-center border-secondary border-bottom opacity-25"
></div>
