<ul class="nav justify-content-center mt-4 mb-1 text-uppercase">
  <li class="nav-underline-anim">
    <a
      id="linkInfo"
      class="nav-link text-reset fs-6 fw-bold"
      aria-current="page"
      href="/voistlus/info"
    >
      Võistluse info
    </a>
  </li>
  <li class="nav-underline-anim">
    <a id="linkPaigutus" class="nav-link text-reset fs-6 fw-bold" href="#">
      Paigutus
    </a>
  </li>
  <li class="nav-underline-anim">
    <a id="linkTabel" class="nav-link text-reset fs-6 fw-bold" href="#">
      Võistlustabel
    </a>
  </li>
  <li class="nav-underline-anim">
    <a id="linkMangud" class="nav-link text-reset fs-6 fw-bold" href="#">
      Mängud
    </a>
  </li>
  <li class="nav-underline-anim">
    <a id="linkTulemused" class="nav-link text-reset fs-6 fw-bold" href="#">
      Tulemused
    </a>
  </li>
  <li class="nav-underline-anim">
    <a id="linkAuhinnad" class="nav-link text-reset fs-6 fw-bold" href="#">
      Auhinnad
    </a>
  </li>
</ul>
<div
  class="justify-content-center border-secondary border-bottom opacity-25"
></div>
