<!DOCTYPE html>
<html class="h-100 wxauktc idc0_332" lang="et">
  <head>
    <%- include('./partials/head'); %>
    <script src="/js/axios-v0.26.0.min.js" defer></script>
    <script src="/js/competition-games-script.js" defer></script>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <%- include('./partials/header'); %> <%- include('./partials/second-nav');
      %>
    </header>

    <main role="main" class="flex-shrink-0">
      <div class="container py-4">
        <div>
          <h5 class="text-uppercase fw-bold text-center mb-4">
            <span id="competitionName"></span>
            - Mängud
          </h5>
        </div>

        <button
          id="btnScrolToTop"
          class="btn btn-secondary btnScrolToTop visually-hidden"
          title="Lehekülje algusesse"
        >
          <i class="fas fa-chevron-up"></i>
        </button>

        <button
          id="btnScrolToTop"
          class="btn btn-secondary btnScrolToTop"
          title="Lehekülje algusesse"
        >
          <i class="fas fa-chevron-up"></i>
        </button>

        <table class="table table-responsive table-hover table-bordered">
          <thead class="table-secondary">
            <tr>
              <th class="text-center">Nr</th>
              <th>Võistleja 1</th>
              <th>Võistleja 2</th>
              <th class="text-center">Laud</th>
              <th>Võitja</th>
              <th class="text-center">Tulemus</th>
              <th class="text-center">Toimingud</th>
            </tr>
          </thead>
          <tbody id="compGameTableBody"></tbody>
        </table>
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light border-top">
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>
