<!DOCTYPE html>
<html class="h-100 wxauktc idc0_332" lang="et">
  <head>
    <%- include('./partials/head'); %>
    <script src="/js/axios-v0.26.0.min.js" defer></script>
    <script src="/js/competition-games-script.js" defer></script>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <%- include('./partials/header'); %> <%- include('./partials/second-nav');
      %>
    </header>

    <main role="main" class="flex-shrink-0">
      <div class="container py-4">
        <div>
          <h5 class="text-uppercase fw-bold text-center">
            <span id="competitionName"></span>
          </h5>
          <h5 class="text-uppercase fw-bold text-center mb-4">Mängud</h5>
        </div>

        <!-- Näidis -->
        <!-- <table class="table table-hover table-bordered" id="gamesList">
        <thead class="thead-secondary">
          <tr>
            <th scope="col" class="text-center">Nr</th>
            <th scope="col">Võistleja 1</th>
            <th scope="col">Võistleja 2</th>
            <th scope="col" class="text-center">Laud</th>
            <th scope="col">Võitja</th>
            <th scope="col" class="text-center">Tulemus</th>
            <th scope="col" class="text-center">Toimingud</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">101</td>
            <td>Kustav Korjus</td>
            <td>Heiki Valk</td>
            <td class="text-center">
              <select name="compTables" id="compTables" disabled>
                <option value="0" selected>&nbsp;&nbsp;&nbsp;&nbsp;</option>
                <option value="1">&nbsp;&nbsp;1&nbsp;&nbsp;</option>
                <option value="2">&nbsp;&nbsp;2&nbsp;&nbsp;</option>
                <option value="3">&nbsp;&nbsp;3&nbsp;&nbsp;</option>
                <option value="4">&nbsp;&nbsp;4&nbsp;&nbsp;</option>
                <option value="5">&nbsp;&nbsp;5&nbsp;&nbsp;</option>
              </select>
            </td>
            <td>
              <select name="compWinner" id="compWinner" class="w-100" placeholder="Disabled input" disabled>
                <option value="0" selected>&nbsp;&nbsp;Heiki Valk&nbsp;&nbsp;</option>
                <option value="1">&nbsp;&nbsp;Kustav Korjus&nbsp;&nbsp;</option>
                <option value="2">&nbsp;&nbsp;Heiki Valk&nbsp;&nbsp;</option>
              </select>
            </td>
            <td class="text-center">
              <select name="compWinnerScore" id="compWinnerScore" disabled>
                <option value="0">&nbsp;&nbsp;3:1&nbsp;&nbsp;</option>
                <option value="1">&nbsp;&nbsp;3:0&nbsp;&nbsp;</option>
                <option value="2">&nbsp;&nbsp;3:1&nbsp;&nbsp;</option>
                <option value="3">&nbsp;&nbsp;3:2&nbsp;&nbsp;</option>
              </select>
            </td>
            <td class="text-center">
              <ul class="m-0 p-0">
                <li class="list-inline-item">
                  <button class="btn btn-secondary btn-sm rounded-0" type="button" data-toggle="tooltip"
                    data-placement="top" title="Muuda"><i class="fa fa-edit"></i></button>
                </li>
                <li class="list-inline-item">
                  <button class="btn btn-secondary btn-sm rounded-0" type="button" data-toggle="tooltip"
                    data-placement="top" title="Salvesta"><i class="fas fa-save"></i></i></button>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="text-center">102</td>
            <td>Aigar Aasmäe</td>
            <td>Aleksander Part</td>
            <td class="text-center">
              <select name="compTables" id="compTables">
                <option value="0" selected>&nbsp;&nbsp;&nbsp;&nbsp;</option>
                <option value="1">&nbsp;&nbsp;1&nbsp;&nbsp;</option>
                <option value="2">&nbsp;&nbsp;2&nbsp;&nbsp;</option>
                <option value="3">&nbsp;&nbsp;3&nbsp;&nbsp;</option>
                <option value="4">&nbsp;&nbsp;4&nbsp;&nbsp;</option>
                <option value="5">&nbsp;&nbsp;5&nbsp;&nbsp;</option>
              </select>
            </td>
            <td>
              <select name="compWinner" id="compWinner" class="w-100">
                <option value="0" selected>&nbsp;&nbsp;&nbsp;&nbsp;</option>
                <option value="1">&nbsp;&nbsp;Aigar Aasmäe&nbsp;&nbsp;</option>
                <option value="2">&nbsp;&nbsp;Aleksander Part&nbsp;&nbsp;</option>
              </select>
            </td>
            <td class="text-center">
              <select name="compWinnerScore" id="compWinnerScore">
                <option value="0">&nbsp;&nbsp;&nbsp;&nbsp;</option>
                <option value="1">&nbsp;&nbsp;3:0&nbsp;&nbsp;</option>
                <option value="2">&nbsp;&nbsp;3:1&nbsp;&nbsp;</option>
                <option value="3">&nbsp;&nbsp;3:2&nbsp;&nbsp;</option>
              </select>
            </td>
            <td class="text-center">
              <ul class="m-0 p-0">
                <li class="list-inline-item">
                  <button class="btn btn-secondary btn-sm rounded-0" type="button" data-toggle="tooltip"
                    data-placement="top" title="Muuda"><i class="fa fa-edit"></i></button>
                </li>
                <li class="list-inline-item">
                  <button class="btn btn-secondary btn-sm rounded-0" type="button" data-toggle="tooltip"
                    data-placement="top" title="Salvesta"><i class="fas fa-save"></i></i></button>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table> -->

        <table class="table table-responsive table-hover table-bordered">
          <thead class="table-secondary">
            <tr>
              <th class="text-center">Nr</th>
              <th>Võistleja 1</th>
              <th>Võistleja 2</th>
              <th class="text-center">Laud</th>
              <th>Võitja</th>
              <th class="text-center">Tulemus</th>
              <th class="text-center">Toimingud</th>
            </tr>
          </thead>
          <tbody id="compGameTableBody"></tbody>
        </table>
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light border-top">
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>
