<!DOCTYPE html>
<html class="h-100 wxauktc idc0_332" lang="et">
  <head>
    <%- include('./partials/head'); %>
    <script src="/js/axios-v0.26.0.min.js" defer></script>
    <script src="/js/moment-v2.29.1.js" defer></script>
    <script src="/js/competition-awards-script.js" defer></script>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <%- include('./partials/header'); %> <%- include('./partials/second-nav');
      %>
    </header>

    <main role="main" class="flex-shrink-0">
      <div class="container py-4">
        <div>
          <h5 class="text-uppercase fw-bold text-center mb-4">
            <span id="competitionName"></span>
            - Auhinnad
          </h5>
        </div>

        <button
          id="btnScrolToTop"
          class="btn btn-secondary btnScrolToTop visually-hidden"
          title="Lehekülje algusesse"
        >
          <i class="fas fa-chevron-up"></i>
        </button>

        <!-- Üldvõitja, ehk I koht -->
        <div class="card-deck mb-5 text-center">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title my-0">I koht</h5>
            </div>
            <i class="fas fa-trophy fa-9x my-4 mx-auto"></i>
            <div class="card-body">
              <h1 id="compFirstPlace" class=""></h1>
            </div>
          </div>
        </div>

        <!-- Üldarvestuse II ja III koht -->
        <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title my-0">II koht</h5>
              </div>
              <i class="fas fa-trophy fa-7x my-3 mx-auto"></i>
              <div class="card-body">
                <h1 id="compSecondPlace" class=""></h1>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title my-0">III koht</h5>
              </div>
              <i class="fas fa-trophy fa-5x my-4 mx-auto"></i>
              <div class="card-body">
                <h1 id="compThirdPlace" class=""></h1>
              </div>
            </div>
          </div>
        </div>

        <!-- Parim mees- ja naismängija -->
        <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title my-0">Parim meesmängija</h5>
              </div>
              <i class="fas fa-trophy fa-7x my-4 mx-auto"></i>
              <div class="card-body">
                <h1 id="compBestMan" class=""></h1>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title my-0">Parim naismängija</h5>
              </div>
              <i class="fas fa-trophy fa-7x my-4 mx-auto"></i>
              <div class="card-body">
                <h1 id="compBestWoman" class=""></h1>
              </div>
            </div>
          </div>
        </div>

        <!-- Poisid ja tüdrukud kuni 10. aastased -->
        <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title my-0">Poisid kuni 10. aastased</h5>
              </div>
              <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
              <div class="card-body mx-auto w-50">
                <table class="table table-borderless table-sm">
                  <tbody id="boysBetween0and10"></tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title my-0">Tüdrukud kuni 10. aastased</h5>
              </div>
              <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
              <div class="card-body mx-auto w-50">
                <table class="table table-borderless table-sm">
                  <tbody id="girlsBetween0and10"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Poisid ja tüdrukud vanuses 11 - 14 -->
        <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title my-0">Poisid vanuses 11 - 14</h5>
              </div>
              <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
              <div class="card-body mx-auto w-50">
                <table class="table table-borderless table-sm">
                  <tbody id="boysBetween11and14"></tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title my-0">Tüdrukud vanuses 11 - 14</h5>
              </div>
              <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
              <div class="card-body mx-auto w-50">
                <table class="table table-borderless table-sm">
                  <tbody id="girlsBetween11and14"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Poisid ja tüdrukud vanuses 15 - 18 -->
        <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title my-0">Poisid vanuses 15 - 18</h5>
              </div>
              <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
              <div class="card-body mx-auto w-50">
                <table class="table table-borderless table-sm">
                  <tbody id="boysBetween15and18"></tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title my-0">Tüdrukud vanuses 15 - 18</h5>
              </div>
              <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
              <div class="card-body mx-auto w-50">
                <table class="table table-borderless table-sm">
                  <tbody id="girlsBetween15and18"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Mehed ja naised vanuses 19 - 34 -->
        <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title my-0">Mehed vanuses 19 - 34</h5>
              </div>
              <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
              <div class="card-body mx-auto w-50">
                <table class="table table-borderless table-sm">
                  <tbody id="menBetween19and34"></tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title my-0">Naised vanuses 19 - 34</h5>
              </div>
              <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
              <div class="card-body mx-auto w-50">
                <table class="table table-borderless table-sm">
                  <tbody id="womenBetween19and34"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Mehed vanuses 35 - 49 ja naised vanuses 35 - 44 -->
        <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title my-0">Mehed vanuses 35 - 49</h5>
              </div>
              <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
              <div class="card-body mx-auto w-50">
                <table class="table table-borderless table-sm">
                  <tbody id="menBetween35and49"></tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title my-0">Naised vanuses 35 - 44</h5>
              </div>
              <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
              <div class="card-body mx-auto w-50">
                <table class="table table-borderless table-sm">
                  <tbody id="womenBetween35and44"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Mehed vanuses 50 - 59 ja naised vanuses 45 - 54 -->
        <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title my-0">Mehed vanuses 50 - 59</h5>
              </div>
              <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
              <div class="card-body mx-auto w-50">
                <table class="table table-borderless table-sm">
                  <tbody id="menBetween50and59"></tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title my-0">Naised vanuses 45 - 54</h5>
              </div>
              <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
              <div class="card-body mx-auto w-50">
                <table class="table table-borderless table-sm">
                  <tbody id="womenBetween45and54"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Mehed vanuses 60 - 69 ja naised vanuses 55 - 64 -->
        <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title my-0">Mehed vanuses 60 - 69</h5>
              </div>
              <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
              <div class="card-body mx-auto w-50">
                <table class="table table-borderless table-sm">
                  <tbody id="menBetween60and69"></tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title my-0">Naised vanuses 55 - 64</h5>
              </div>
              <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
              <div class="card-body mx-auto w-50">
                <table class="table table-borderless table-sm">
                  <tbody id="womenBetween55and64"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Mehed 70 aastat ja vanemad / Naised 65 aastat ja vanemad  -->
        <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title my-0">Mehed 70 aastat ja vanemad</h5>
              </div>
              <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
              <div class="card-body mx-auto w-50">
                <table class="table table-borderless table-sm">
                  <tbody id="menBetween70andOlder"></tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <div class="card-header">
                <h5 class="card-title my-0">Naised 65 aastat ja vanemad</h5>
              </div>
              <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
              <div class="card-body mx-auto w-50">
                <table class="table table-borderless table-sm">
                  <tbody id="womenBetween65andOlder"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light border-top">
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>
