<!DOCTYPE html>
<html class="h-100 wxauktc idc0_332" lang="et">
  <head>
    <%- include('./partials/head'); %>
  </head>

  <body class="d-flex flex-column h-100">
    <header><%- include('./partials/header'); %></header>

    <main class="flex-shrink-0">
      <div class="container">
        <div class="text-center mb-5">
          <h1 class="fs-1 text-uppercase">Raplamaa lauatennis</h1>
          <p class="lead">
            Siit leiad võistluste ajakava, vaata võistluste tulemusi, loe
            võistlusjuhendit ja otsi kus saab trenni teha.
          </p>
        </div>

        <div class="row row-cols-1 row-cols-md-2 my-4">
          <div class="col mb-4">
            <div class="card h-100 zoom">
              <svg
                class="bd-placeholder-img bd-placeholder-img-lg img-fluid"
                width="100%"
                height="200"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Responsive image"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#6c757d"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".5em">Pilt</text>
              </svg>
              <div class="card-body">
                <h5 class="card-title">
                  <a
                    href="/ajakava"
                    class="text-underline-hover text-reset text-underline-hove text-uppercase fw-bold stretched-link"
                  >
                    Ajakava
                  </a>
                </h5>
                <p class="card-text">
                  Ülevaade Raplamaa lauatennise võistluste ajakavast, kust näete
                  lähiajal ja kaugemas tulevikus toimuvaid võistlusi
                </p>
              </div>
            </div>
          </div>

          <div class="col mb-4">
            <div class="card h-100 zoom">
              <svg
                class="bd-placeholder-img bd-placeholder-img-lg img-fluid"
                width="100%"
                height="200"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Responsive image"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#6c757d"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".5em">Pilt</text>
              </svg>
              <div class="card-body">
                <h5 class="card-title">
                  <a
                    href="/voistlus"
                    class="text-underline-hover text-reset text-underline-hove text-uppercase fw-bold stretched-link"
                  >
                    VÕISTLUSED
                  </a>
                </h5>
                <p class="card-text">
                  Ülevaade Raplamaa lauatennise võistluste tulemustest. Info
                  toimunud võistlustest ja nende tulemused
                </p>
              </div>
            </div>
          </div>

          <div class="col mb-4">
            <div class="card h-100 zoom">
              <svg
                class="bd-placeholder-img bd-placeholder-img-lg img-fluid"
                width="100%"
                height="200"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Responsive image"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#6c757d"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".5em">Pilt</text>
              </svg>
              <div class="card-body">
                <h5 class="card-title">
                  <a
                    href="/voistlus/juhend"
                    class="text-underline-hover text-reset text-underline-hove text-uppercase fw-bold stretched-link"
                  >
                    Võistlusjuhend
                  </a>
                </h5>
                <p class="card-text">
                  Täpsed juhised, kuidas võistlus läbi viiakse ja mida pead
                  teadma enne võistlema minemist
                </p>
              </div>
            </div>
          </div>

          <div class="col mb-4">
            <div class="card h-100 zoom">
              <svg
                class="bd-placeholder-img bd-placeholder-img-lg img-fluid"
                width="100%"
                height="200"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Responsive image"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#6c757d"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".5em">Pilt</text>
              </svg>
              <div class="card-body">
                <h5 class="card-title">
                  <a
                    href="/treeningud"
                    class="text-underline-hover text-reset text-underline-hove text-uppercase fw-bold stretched-link"
                  >
                    Treeningud
                  </a>
                </h5>
                <p class="card-text">
                  Kohad Raplamaal, kus saab lauatennist mängima minna koos
                  sõbraga. Osavamad jagavad oma teadmisi ja oskusi ilma küsimata
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer mt-auto py-3 bg-light border-top">
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>
