<!DOCTYPE html>
<html class="h-100 wxauktc idc0_332" lang="et">
  <head>
    <%- include('./partials/head'); %>
    <script src="/js/moment-v2.29.1.js" defer></script>
    <script src="/js/schedule-script.js" defer></script>
  </head>

  <body class="d-flex flex-column h-100">
    <header><%- include('./partials/header'); %></header>

    <main class="flex-shrink-0">
      <div class="container">
        <div>
          <h5 class="text-uppercase fw-bold text-center mb-3">Ajakava</h5>
        </div>

        <h3>
          <input
            type="search"
            placeholder="Otsi tabelist võistlusi nimetuse või asukoha järgi"
            class="form-control search-input text-center"
            data-table="customers-list"
            id="searchInput"
            onkeyup="searchTableData()"
          />
        </h3>

        <table
          class="table table-responsive table-striped table-bordered me-4"
          id="table"
        >
          <thead class="table-secondary">
            <tr>
              <th class="text-center">Kuupäev</th>
              <th class="text-center">Algusaeg</th>
              <th>Võistluse nimetus</th>
              <th>Võistluse asukoht</th>
            </tr>
          </thead>

          <tbody id="competitionsTable"></tbody>
        </table>
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light border-top">
      <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>
